.navbar {
    padding: 1rem!important;
}

.about-me {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding: 1rem;
}

.about-me img {
    max-width: 250px;
    border-radius: 100%;
    padding: 1rem;
}

.find-me {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.find-me p {
    padding: 1rem;
}

.container-fluid h1 {
    text-align: center;
    padding: 1rem;
}

.my-jobs {
    display: flex;
}

.my-jobs .item {
    width: 33%;
    text-align: center;
}

.jumbotron-fluid {
    margin-top: 1rem;
    text-align: center;
}